<style>
  .collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
</style>

    <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse navbar-dark bg-dark">
        <button type="button" id="sidebarCollapse" class="btn" data-toggle="collapse" data-target="#bar" aria-controls="bar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mb-0 h1">GroupUs</span>
          <ul class="navbar-nav mr-auto" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/sign-in">Sign-in</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/sign-up">Sign-up</a></li>
          </ul>
      </nav>
    

    <div class="wrapper" >
      <div class="collapse show width " id="bar">
          <nav id="sidebar" style="overflow-y: scroll; ">
              <div class="sidebar-header">
                  <h3>Groups</h3>
              </div>
              <ul class="list-unstyled components">
                  <li>
                      <a href="#">Group 1</a>
                  </li>
                  <li>
                      <a href="#">Group 2</a>
                  </li>
                  <li>
                      <a href="#">Group 3</a>
                  </li>
                  <li>
                      <a href="#">Group 4</a>
                  </li>
                  <li>
                      <a href="#">Group 5</a>
                  </li>
                  <li>
                      <a href="#">Group 6</a>
                  </li>
                  <li>
                      <a href="#">Group 7</a>
                  </li>
                  <li>
                      <a href="#">Group 8</a>
                  </li>
                  <li>
                      <a href="#">Group 9</a>
                  </li>
                  <li>
                      <a href="#">Group 10</a>
                  </li>
                  <li>
                      <a href="#">Group 11</a>
                  </li>
              </ul>
          </nav>    
      </div>
      <div id="content">
          <router-outlet></router-outlet>
      </div>
    </div>
