<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<section>
    <div *ngIf="u == null; else profile">
        <div class="spinner-border" id="loadingSpinner">
        </div>
    </div>
    <ng-template #profile>
        <div class='userInfo'>
            <img id='profilepic' src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/69/69a17727cc835e56f0c16e84093242772e0238d0_full.jpg" alt="profileexample">
            <div *ngIf="!editingUserInfo; else editUserInfoForm">
                <h1 id='name'><b>{{u.firstName}} {{u.lastName}}</b></h1>
                <p id='username'>{{u.username}}</p>
                <hr/>
                <p>{{u.bio}}</p>
                <button *ngIf="canEdit" type="button" class="btn" (click)="setEditingUser(true);">
                    Edit Profile
                </button>
            </div>
            <ng-template #editUserInfoForm>
                <input #firstNameInput type="text" id="firstNameForm" class="form-control form-control-sm" value="{{u.firstName}}" placeholder="First Name" required>
                <input #lastNameInput type="text" id="lastNameForm" class="form-control form-control-sm" value="{{u.lastName}}" placeholder="Last Name" required>
                <hr/>
                <textarea #bioInput type="text" rows=5 class="form-control form-control-sm" value="{{u.bio}}" placeholder="Bio"></textarea>
                <button *ngIf="canEdit" type="button" class="btn" (click)="setEditingUser(false); setUserInfo(firstNameInput.value, lastNameInput.value, bioInput.value);">
                    OK
                </button>
            </ng-template>
        </div>
        <div class='groupsInfo'>
            <h3>
                {{u.firstName}}'s Groups
                <span id=groupCount class="badge badge-secondary badge-pill">{{groups.length}}</span>
            </h3>
            <hr/>
            <input #groupInput type="text" class="form-control" id="groupInput" placeholder="Find a group..." (input)="filterGroupName(groupInput.value)">
            <hr/>
            <ul class='list-group'>
                <li class="list-group-item list-group-item-action" *ngFor="let g of filteredGroups">
                    <a href="/groups/{{g.groupID}}">
                        <b>{{g.groupName}}</b> ({{g.members.length}} members)
                    </a>
                    <button *ngIf="canEdit" type="button" class="btn" (click)="removeGroup(g); filterGroupName(groupInput.value);">
                        Remove
                    </button>
                </li>
            </ul>
        </div>
    </ng-template>
        
</section>