<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section>
    <!--Display Loading Spinner while User is null-->
    <div *ngIf="u == null; else profile">
        <div class="spinner-border" id="loadingSpinner">
        </div>
    </div>

    <!--User Profile-->
    <ng-template #profile>
        <div class='userInfo'>
            <!--Standard Profile Pic-->
            <img *ngIf="!canEdit" src="{{u.picture}}" class='profilepic'>
            <!--Editable Profile Pic-->
            <label *ngIf="canEdit" for="profilePicUpload" class='profilepic editableProfilePic'>
                <img src="{{u.picture}}" class='profilepic'>
            </label>
            <input #profilePicInput *ngIf="canEdit" type=file id="profilePicUpload" accept="image/png, image/jpeg" (change)="uploadProfilePic(profilePicInput.files)">

            <!--User Info-->
            <div *ngIf="!editingUserInfo; else editUserInfoForm">
                <h1 id='name'><b>{{u.firstName}} {{u.lastName}}</b></h1>
                <p id='username'>{{u.username}}</p>
                <hr/>
                <p>{{u.bio}}</p>
                <button *ngIf="canEdit" class="btn btn-dark btn-block" (click)="setEditingUser(true);">
                    Edit Profile
                </button>
            </div>
            <!--User Info Form-->
            <ng-template #editUserInfoForm>
                <input #firstNameInput type="text" id="firstNameForm" class="form-control form-control-sm" value="{{u.firstName}}" placeholder="First Name" required>
                <input #lastNameInput type="text" id="lastNameForm" class="form-control form-control-sm" value="{{u.lastName}}" placeholder="Last Name" required>
                <hr/>
                <textarea #bioInput type="text" rows=5 class="form-control form-control-sm" value="{{u.bio}}" placeholder="Bio"></textarea>
                <button *ngIf="canEdit" id="okBtn" class="btn btn-success btn-sm" (click)="setEditingUser(false); setUserInfo(firstNameInput.value, lastNameInput.value, bioInput.value);">
                    Save
                </button>
                <button *ngIf="canEdit" id="okBtn" class="btn btn-light btn-sm" (click)="setEditingUser(false);">
                    Cancel
                </button>
            </ng-template>
        </div>

        <!--Group Info-->
        <div class='groupsInfo'>
            <h3>
                {{u.firstName}}'s Groups
                <span id=groupCount class="badge badge-secondary badge-pill">{{groups.length}}</span>
            </h3>
            <hr/>
            <input #groupInput type="text" class="form-control" id="groupInput" placeholder="Filter groups..." (input)="filterGroupName(groupInput.value)">
            <hr/>
            <ul class='list-group'>
                <li class="list-group-item list-group-item-action" *ngFor="let g of filteredGroups">
                    <a href="/groups/{{g.groupID}}">
                        <b>{{g.groupName}}</b> ({{g.members.length}} {{g.members.length == 1 ? 'member' : 'members'}})
                    </a>
                    <button *ngIf="canEdit" type="button" class="btn btn-danger btn-sm py-0" style="float:right; font-size: small;" (click)="removeGroup(g); filterGroupName(groupInput.value);">
                        Remove
                    </button>
                </li>
                <li class="list-group-item list-group-item-action list-group-item-success">
                    <b>Create New Group</b>
                </li>
            </ul>
        </div>
    </ng-template>
</section>